<div class='col-xs-12'>
    <form role="form"> 
        <div class="form-group"> 
            <label for="userName" class="control-label">Email</label>
            <input class="form-control disabled" id="userName" required="true" placeholder="abc@gmail.com" type="text" data-bind="textInput:email,attr: { disabled: updateMode() }" >
        </div> 
        <div class="form-group"> 
            <label for="userName" class="control-label">Password</label>
            <input class="form-control disabled" id="userName" required="true" type="password" data-bind="textInput:password,attr: { disabled: updateMode() }" >
        </div> 

        <div class="form-group"> <label for="firstName" class="control-label">First Name</label> 
            <input class="form-control" id="firstName" required="true" type="text" data-bind="textInput:firstName,attr: { disabled: updateMode()}">
        </div> 
        <div class="form-group"> <label for="lastName" class="control-label">Last Name</label>
            <input class="form-control " id="lastName" required="true" type="text" data-bind="textInput:lastName,attr: { disabled: updateMode()}"> 
        </div> 
        <div class="form-group"> <label for="phone" class="control-label">Phone</label>
            <input class="form-control " id="phone" required="true" type="text" data-bind="textInput:phone,attr: { disabled: updateMode()}"> 
        </div> 

        <div class="form-group"> <label for="role" class="control-label">Role</label>
            <select class="form-control" id="role" name="role" data-bind="
                options: roles,
                optionsText: 'name',
                optionsValue: 'id',
                value: role,attr: { disabled: updateMode()}">
            </select>

        </div> 

        <div class="form-group">
            <oj-label class="oj-label" for="switch">User Enabled</oj-label>
            <oj-switch id="switch" value="{{enabled}}"></oj-switch><br/><br/>
        </div> 

        <div class="form-group"> 
            <input class="btn btn-primary" data-bind="click: saveUser,attr: { disabled: updateMode() }" value="Register" >
        </div> 

        <div class="alert alert-success" data-bind="visible: updateMode()">
            <h4><i class="icon fa fa-check"></i> User Successfully Registered!</h4>
        </div>
    </form>
</div>
