
<div class="col-xs-12 no-padding">
    <h1 class="text-primary">Tenants</h1>
    <div class="alert alert-success" data-bind="visible: added">
        <h4 data-bind="text:message"><i class="icon fa fa-check"></i></h4>
    </div>

    <!--        ko if:error()-->
    <div class="alert alert-danger">
        <h4 data-bind="text:error"><i class="icon fa fa-close"></i></h4>
    </div>
    <!--/ko-->

    <div class="box  box-primary">

        <div class="box-header with-border">
            <span class="box-title">
                Search
            </span>
            <div class="box-tools">
            </div>
        </div>

        <div class="box-body"> 
            <!--ko foreach:searchArray-->
            <div class="col-sm-12">
                <div class="col-md-4">                    
                    <select class="form-control" id="currency" name="currency" data-bind="
                options: $parent.searchKeys,
                optionsText: 'name',
                optionsValue: 'id',
                value: $data.key">
                    </select>
                </div>

                <div class="col-md-1">
                    <span class="col-md-1 bold pad">
                        Like
                    </span>    
                </div>

                <div class="col-sm-5">
                    <input class="form-control" type="text" data-bind="textInput:$data.value">
                </div>

            </div>
            <!--/ko-->
        </div>

        <div class="box-footer">
            <div class="pull-right">
                <!--                <div class="btn btn-primary"><i class="fa fa-plus"></i> Add Criteria</div>-->
                <div class="btn btn-primary" data-bind="click:searchData" ><i class="fa fa-search"></i> Search</div>
                <button class="btn btn-primary" href="#!/device/add"  data-bind="click: $parent.addRow"><span class="glyphicon glyphicon-plus"></span> Add Tenant</button>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 no-padding">
    <div class="box">
        <!-- /.box-header -->
        <!--ko if:ready-->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Tenant Id</th>
                        <th>Tenant Name</th>
                        <th>Owner</th>
                        <th>Type</th>
                        <th>Active</th>
                        <th>Update</th>                        
                        <th>Delete</th>
                        <th>Sub-Tenants</th>                    
                    </tr>
                </thead>
                <tbody data-bind="foreach: tenantArr">
                    <tr>
                        <td data-bind="text: tenantId"></td>
                        <td data-bind="text: tenantName"></td>
                        <td data-bind="text: email"></td>
                        <td data-bind="text: type"></td>
                        <td data-bind="text: enabled"></td>
                        <td>
                            <div class="btn-group no-padding">
                                <button title="Edit" type="button" class="btn btn-primary"  data-bind="click:$parent.updateRow"><i class="glyphicon glyphicon-pencil"></i></button>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group no-padding">
                                <button title="Delete" type="button" class="btn btn-danger " data-bind="click:$parent.deleteTenant"><i class="glyphicon glyphicon-trash"></i></button>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group no-padding">
                                <button title="Delete" type="button" class="btn btn-primary " data-bind="click:$parent.subTenant,attr:{disabled:(type!=='virt')}"><i class="fa fa-child"></i></button>
                            </div>
                        </td>
                        <!-- <td>
                            <div class="btn-group no-padding">
                                <button title="Delete" type="button" class="btn btn-primary " data-bind="click:$parent.devTypes,attr:{disabled:(type!=='own')}"><i class="glyphicon glyphicon-cog"></i></button>
                            </div>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">

            <div class="dataTables_info pull-left pad-top-25" id="example2_info" role="status" aria-live="polite"><span data-bind="text:'Showing ' +fromDoc()+ ' to ' +toDoc()+ ' of ' +totDoc()+ ' entries'"></div>

            <div class="pull-right">
                <ul class="pager center center-block pull-right">
                    <li><span class="btn btn-default" data-bind="click:previous" >Previous</span></li>
                    <li><span class="btn btn-default" data-bind="click:next" >Next</span></li>
                </ul>
            </div>
        </div>
        <!--/ko-->

        <!--        ko if:!ready()-->
        <div class="overlay col-md-12">
            <i class="fa fa-refresh fa-spin fa-5x"></i>
        </div>
        <!--/ko-->

    </div>
    <!-- /.box -->
</div>

