<div class="col-xs-12 pad">
    <h1 class="text-primary">Asset Tree</h1>
    <!--ko if:ready()-->
    <oj-tree-view id="treeview" 
                  data="[[data]]" 
                  item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('item_template', true)]]" 
                  selection="{{selection}}" 
                  selection-mode="multiple" 
                  on-selection-changed="[[selectionChanged]]" 
                  aria-label="Tree View Selection Demo">
    </oj-tree-view>
    <!--/ko-->
    <!--        ko if:!ready()-->
    <div class="overlay col-md-12">
        <i class="fa fa-refresh fa-spin fa-5x"></i>
    </div>
    <!--/ko-->
</div>


<script type="text/html" id="item_template">
    <li>
        <span class="oj-treeview-item-icon"></span>
        <span class="oj-treeview-item-text" data-bind="text: title"></span>
    </li>
</script>