<div class="col-xs-12 pad">
    <h2 class="bold text-primary">Add/Update Asset Model</h2>
    <br>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#main" data-toggle="tab" aria-expanded="false" class="bold text-primary">Main</a></li>
            <li class=""><a href="#model" data-toggle="tab" aria-expanded="false" class="bold text-primary">Model Properties</a></li>
            <li class=""><a href="#type" data-toggle="tab" aria-expanded="false" class="bold text-primary">Asset Type Properties</a></li>
        </ul>
        <hr>
        <div class="tab-content">
            <div class="tab-pane active" id="main">
                <h4 class="text-primary">General Info</h4>
                <form role="form"> 

                    <div class="form-group"> <label for="type" class="control-label">Asset Type</label>
                        <select class="form-control" id="currency" name="type" data-bind="
                                        options: types,
                                        optionsText: 'name',
                                        optionsValue: 'id',
                                        value: assetType,
                                        attr: { disabled: updateMode() }">
                        </select>
                                       

                    </div> 

                    <div class="form-group"> 
                        <label for="title" class="control-label">Asset Model</label>
                        <input class="form-control disabled" id="title" required="true" type="text" data-bind="textInput:assetModel,attr: { disabled: updateMode() }" >
                    </div> 

                    <div class="form-group"> 
                        <label for="title" class="control-label">Name</label>
                        <input class="form-control disabled" id="title" required="true" type="text" data-bind="textInput:assetModelName" >
                    </div> 

                    <div class="form-group"> 
                        <label for="title" class="control-label">Manufacturer</label>
                        <input class="form-control disabled" id="title" required="true" type="text" data-bind="textInput:mfr" >
                    </div> 
                    <div class="form-group">
                        <oj-label class="oj-label" for="switch">Asset Model Enabled</oj-label>
                        <oj-switch id="switch" value="{{enabled}}"></oj-switch><br/><br/>
                    </div> 
                </form>
            </div>
            <div class="tab-pane" id="model">
                <h4 class="text-primary">Custom Model Properties</h4>
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Property</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Value</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--ko foreach:keysArray-->
                            <tr role="row" class="odd">
                                <!--ko if:flag!=undefined && flag=='false'-->
                                <td class="sorting_1"><input class="form-control disabled"  type="text" data-bind="textInput:key"></td>
                                <!-- /ko -->
                                <!--ko if:flag!=undefined && flag=='true'-->
                                <td class="sorting_1"><input class="form-control disabled"  type="text" data-bind="textInput:key" readonly></td>
                                <!-- /ko -->
                                
                                <td class="sorting_1"><input class="form-control disabled"  type="text" data-bind="textInput:value"></td>
                                <td class="sorting_1"><input class="form-control disabled"  type="text"  data-bind="textInput:desc"></td>
                                 <!--ko if:flag!=undefined && flag=='false'-->
                                <td><button class="fa fa-trash fa-2x" data-bind="click:function(){$parent.deleteAssetModelProp($data,$index)}"> </button></td>
                                <!-- /ko -->
                            </tr>
                            <!--/ko-->
                        </tbody>
                    </table>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default" data-bind="click:addAssetModelProp">Add Model Properties</button>
                </div>
            </div>

            <div class="tab-pane" id="type">
                <h4 class="text-primary">Asset Type Properties</h4>
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Property</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Value</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--ko foreach:typeKeysArray-->
                            <tr role="row" class="odd">
                                <td class="sorting_1"><input class="form-control disabled"  disabled=true type="text" data-bind="textInput:key"></td>
                                <td class="sorting_1"><input class="form-control disabled"  disabled=true type="text"  data-bind="textInput:desc"></td>
                                <td class="sorting_1"><input class="form-control disabled" type="text" data-bind="textInput:value"></td>                        
                            </tr>
                            <!--/ko-->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="form-group"> 
            <input class="btn btn-primary" data-bind="click: saveAssetModel" value="Save" >
            <input class="btn btn-danger" data-bind="click: cancel" value="Cancel"> 
        </div>
    </div>

    <!--        ko if:!ready()-->
    <div class="overlay col-md-12">
        <i class="fa fa-refresh fa-spin fa-5x"></i>
    </div>
    <!--/ko-->
</div>



