<div class="col-xs-12 pad">
    <h2 class="bold text-primary">Add/Update Asset Type</h2>
    <!--        ko if:ready()-->
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#main" data-toggle="tab" aria-expanded="false" class="bold text-primary">General Info</a></li>
            <li class=""><a href="#types" data-toggle="tab" aria-expanded="false" class="bold text-primary">Device Types</a></li>
        </ul>
        <hr>

        <div class="tab-content">
            <div class="tab-pane active" id="main">

                <form role="form"> 

                    <div class="form-group"> 
                        <label for="title" class="control-label">Asset Type</label>
                        <input class="form-control disabled" id="title" required="true" type="text" data-bind="textInput:assetType,attr: { disabled: updateMode() }" >
                    </div> 


                    <div class="form-group"> 
                        <label for="title" class="control-label">Name</label>
                        <input class="form-control disabled" id="title" required="true" type="text" data-bind="textInput:assetTypeName" >
                    </div> 


                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0"  rowspan="1" colspan="1" >Property</th>
                                    <th class="sorting" tabindex="0"  rowspan="1" colspan="1" >Description</th>
                                    <th class="sorting" tabindex="0"  rowspan="1" colspan="1" >Type</th>
                                    <th class="sorting_asc" tabindex="0"  rowspan="1" colspan="1" aria-sort="ascending">Default Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--ko foreach:keysArray-->
                                <tr role="row" class="odd">
                                     <!--ko if:flag!=undefined && flag=='true'-->
                                    <td class="sorting_1"><input class="form-control disabled"  type="text" data-bind="textInput:key"></td>
                                    <!--/ko-->    
                                    <!--ko if:flag!=undefined && flag=='false'-->
                                    <td class="sorting_1"><input class="form-control disabled"  type="text" data-bind="textInput:key" readonly></td>
                                    <!--/ko-->    
                                    <td class="sorting_1"><input class="form-control disabled"  type="text"  data-bind="textInput:desc"></td>
                                    <td>  <select class="form-control" id="currency" name="assetModel" data-bind="
                            options: $parent.types,
                            optionsText: 'name',
                            optionsValue: 'id',
                            value: type">
                                        </select></td>

                                    <td class="sorting_1"><input class="form-control disabled"  type="text"  data-bind="textInput:value ? value:''"></td>
                                    <!--ko if:flag!=undefined && flag=='true'-->
                                    <td><button class="fa fa-trash fa-2x" data-bind="click:function(){$parent.deleteAssetTypeProp($data,$index)}"> </button></td>
                                <!--/ko-->    
                                </tr>
                                <!--/ko-->
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <oj-label class="oj-label" for="switch">Asset Type Enabled</oj-label>
                        <oj-switch id="switch" value="{{enabled}}"></oj-switch><br/><br/>
                    </div> 
                </form>

            </div>
            <div class="tab-pane" id="types">
                <div class="col-sm-12">
                    <table id="assetTypes" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="assetTypes">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Sno.</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Device Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--ko foreach:devTypes-->
                            <tr role="row" class="odd">
                                <td class="bold" data-bind="text:$index()+1"></td>
                                <td class="sorting_1">
                                    <select class="form-control" id="role" name="role" data-bind="
                                            options: $parent.devTypeOpts,
                                            optionsText: 'name',
                                            optionsValue: 'id',
                                            value: devType">
                                    </select>
                                    <br>
                                    <h5 class="bold text-primary">Device Computed Values</h5>
                                    <div>
                                        <table id="computedTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="computedValues">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Property</th>
                                                    <th class="sorting_asc" tabindex="0"  rowspan="1" colspan="1" aria-sort="ascending">Description</th>
                                                    <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Type</th>
                                                    <th class="sorting_asc" tabindex="0"  rowspan="1" colspan="1" aria-sort="ascending">Default Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--ko if:$parent.computedReady()-->
                                                <!--ko foreach:computed-->
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1"><input class="form-control disabled"  type="text" data-bind="textInput:key"></td>
                                                    <td class="sorting_1"><input class="form-control disabled"  type="text"  data-bind="textInput:desc"></td>
                                                    <td>  <select class="form-control" id="currency" name="assetModel" data-bind="
                                            options: $parents[1].types,
                                            optionsText: 'name',
                                            optionsValue: 'id',
                                            value: type">
                                                        </select></td>
                                                    <td class="sorting_1"><input class="form-control disabled"  type="text"  data-bind="textInput:value"></td>
                                                    <td><button class="fa fa-trash fa-2x" data-bind="click:function(){$parents[1].deleteComputed($parent,$index)}"> </button></td>
                                                </tr>
                                                <!--/ko-->
                                                <!--/ko-->
                                            </tbody>
                                        </table>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-success" data-bind="click:function(){$parent.addComputed($data)}"><i class="fa fa-plus fa-2x"></i></button>
                                        </div>
                                    </div>
                                </td>
                                <td><button class="fa fa-trash fa-2x" data-bind="click:function(){$parent.deleteDeviceType($data,$index)}"> </button></td>
                            </tr>
                            <!--/ko-->
                        </tbody>
                    </table>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-success" data-bind="click:addDeviceType">Add Asset Type</button>
                </div>
            </div>
        </div>

        <div class="form-group"> 
            <input class="btn btn-primary" data-bind="click: saveAssetType" value="Save" >
            <input class="btn btn-danger" data-bind="click: cancel" value="Cancel"> 
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default" data-bind="click:addAssetTypeProp">Add Keys</button>
        </div> 
    </div>


    <!--/ko-->

    <!--        ko if:!ready()-->
    <div class="overlay col-md-12">
        <i class="fa fa-refresh fa-spin fa-5x"></i>
    </div>
    <!--/ko-->
</div>
