<div class="col-md-12 no-padding" style='min-height:200px'>
    <div class='box-header' style="background-color: #005691; color: white">
        <div id="enerVal" class='col-md-12'>
            <span  style=" font-family: Boschsansreg; font-size: 18px; margin-bottom: 35px">Elevator Metrics</span>          
        </div>

    </div>
    <!--    ko if:ready-->
    <div data-bind='with:dbMetric'>
        <div class='box-body' style="background-color: #004d82; color: white">
            <div class='col-md-12'>
                <div class="row">
                    <div class=" col-md-12">
                        <div class="box-body text-center" >
                            <table class="table table-condensed text-white">
                                <tr>
                                    <th>Total</th>
                                    <td data-bind='text:assetCount || 0'>0</td>
                                </tr>
                                <tr>
                                    <th>Connected</th>
                                    <td data-bind='text:assetDevice || 0'> 0</td>
                                </tr>
                                <tr>
                                    <th>Online</th>
                                    <td data-bind='text:assetAlive || 0'> 0</td>
                                </tr>
                                <tr>
                                    <th>Alerts</th>
                                    <td data-bind='text:alerts || 0'> 0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-header" style="background-color: #005691; color: white">
            <div class="col-sm-4 col-xs-4  no-padding">
                <div class="description-block border-right">                
                    <span style=" font-family: Boschsansreg; font-size: 18px;" data-bind='text:floors ||0'></span><br>
                    <span class="description-text">Total Floors</span>
                </div>
                <!-- /.description-block -->
            </div>
            <div class="col-sm-4 col-xs-4  no-padding">
                <div class="description-block border-right">
                    <span style=" font-family: Boschsansreg; font-size: 18px;" data-bind='text:energy ||0'>60000</span><br>
                    <span class="description-text">Total Energy</span>
                </div>
                <!-- /.description-block -->
            </div>
            <div class="col-sm-4 col-xs-4 no-padding">
                <div class="description-block">
                    <span style=" font-family: Boschsansreg; font-size: 18px;" data-bind='text:activeHrs||0'>60000</span><br>
                    <span class="description-text">Total Hours</span>
                </div>
                <!-- /.description-block -->
            </div>
        </div>
    </div>
    <!--/ko-->
    <!--        ko if:!ready()-->
    <div class="overlay col-md-12" style="background-color: #005691; color: white">
        <i class="fa fa-refresh fa-spin fa-5x"></i>
    </div>
    <!--/ko-->
</div>