<div class="col-xs-12 pad">
<h2 class="bold text-primary">Add/Update Location</h2>
    <!--        ko if:ready()-->
    <form role="form" style="background: white;"> 
        <br/>
        <fieldset>
        <div class="form-group"> 
            <label for="title" class="control-label">Location Id</label>
            <input class="form-control disabled" id="title" required="true" disabled=true type="text" data-bind="textInput:locId" >
        </div> 


        <div class="form-group"> 
            <label for="title" class="control-label">Location Name</label>
            <input class="form-control disabled" id="title" required="true" type="text" data-bind="textInput:locName" >
        </div> 


        <!--ko foreach:levelsArray-->
        <div class="form-group"> 
            <label for="title" class="control-label" data-bind="text:label"></label>
            <input class="form-control disabled" id="title" required="true" type="text" data-bind="textInput:value" >
        </div> 
        <!--/ko-->

        <div class="form-group"> <label for="country" class="control-label">Country</label>
            <select class="form-control" id="country" name="role" data-bind="
                options: countries,
                optionsText: 'name',
                optionsValue: 'id',
                value: country">
            </select>
        </div> 

        <div class="form-group"> <label for="lat" class="control-label">Latitude</label> 
            <input class="form-control" id="lat" required="true" type="number" data-bind="textInput:lat">
        </div> 
        <div class="form-group"> <label for="lon" class="control-label">Longitude</label> 
            <input class="form-control" id="lon" required="true" type="number" data-bind="textInput:lon">
        </div> 

        <div class="form-group"> <label for="currency" class="control-label">Currency</label>
            <select class="form-control" id="currency" name="currency" data-bind="
                options: currencies,
                optionsText: 'name',
                optionsValue: 'id',
                value: currency">
            </select>
        </div> 

        <div class="form-group"> <label for="tz" class="control-label">Time Zone</label>
            <select class="form-control" id="tz" name="tz" data-bind="
                options: tzs,
                optionsText: 'name',
                optionsValue: 'id',
                value: tz">
            </select>
        </div> 

        <div class="form-group">
            <oj-label class="oj-label" for="switch">Location Enabled</oj-label>
            <oj-switch id="switch" value="{{enabled}}"></oj-switch><br/><br/>
        </div> 

        <div class="form-group"> 
            <input class="btn btn-primary" data-bind="click: saveLocation" value="Save" >
            <input class="btn btn-danger" data-bind="click: cancel" value="Cancel"> 
            <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default" data-bind="click:openTags,attr: { disabled: !updateMode() }">Tags</button> -->
        </div> 
<!--        <div class="alert alert-success" data-bind="visible: updateMode()">
            <h4><i class="icon fa fa-check"></i>Location Added Successfully!</h4>
        </div>-->
                    
    </fieldset>
    </form>
    <!--/ko-->

    <!--        ko if:!ready()-->
    <div class="overlay col-md-12">
        <i class="fa fa-refresh fa-spin fa-5x"></i>
    </div>
    <!--/ko-->
</div>



<div class="modal fade" id="modal-default" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Tags</h4>
            </div>
            <div class="modal-body">
                <!--ko if:readyTags-->
                <div data-bind="ojModule: {name: 'tags',params:tagsArray ,cacheKey: 'tags'}"></div> 
                <!--/ko-->
            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

