
<div class="setupHeading oj-xl-12 oj-lg-12 oj-md-12 oj-flex-item" style="margin-top:20px">
    <div class="pull-right" align="right"> 
        <button class="btn btn-primary" href="#!/location/add"   data-bind="click: goToList"><span class="glyphicon glyphicon-list"></span> Locations</button>
        <button class="btn btn-primary" href="#!/location/add"   data-bind="click: locationConfig"><span class="glyphicon fa fa-gear"></span> Location Levels</button>
        <button class="btn btn-primary" href="#!/location/add"   data-bind="click: loadTree"><span class="glyphicon glyphicon-tree-conifer"></span> Location Tree</button>
    </div>
</div>


<div id="locationRoute" role="main" class="oj-xl-12 oj-lg-12 oj-sm-12 oj-flex-item oj-flex oj-margin oj-flex-item"
     data-bind="ojModule:{name: value,params:params}">
</div>
